ion-back-button{
--color:#462373;
}
ion-title{
    color:#462373;

}
.modify{
    color: #462373;
    font-size: 25px;
    padding-right: 15px;
}
ion-fab-button{
    --background: #ff7300;

}
.no-project{
    font-size: medium;
    color: #ff7300;
}
h5{
    color:#462373;
}
p{
    color: #8395a7;
}
ion-chip{
    width:20%;
    text-align: center;
    ion-label{
        text-align: center;
        margin: 0 auto;

    }
}
ion-toolbar{
    --background:#e67e22;
}