<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-refresher slot="fixed" 
        (ionRefresh)="ionRefresh($event)" 
        (ionPull)="ionPull($event)" 
        (ionStart)="ionStart($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>
        <ion-list *ngIf="this.data.length>0">
          
        <ion-chip (click)="filter(0)">
          <ion-label color="default">All </ion-label>
        </ion-chip>

        <ion-chip  color="danger" (click)="filter(1)"> 
          <ion-label color="danger">To do</ion-label>
        </ion-chip>

        <ion-chip color="tertiary" (click)="filter(2)">
          <ion-label color="tertiary">Doing</ion-label>
        </ion-chip>
        <ion-chip color="warning" (click)="filter(3)">
          <ion-label color="warning">Done</ion-label>
        </ion-chip>

    <ion-item *ngFor="let d of data">
      <ion-avatar slot="start">
        <img src="./../../assets/icon/user.png">

      </ion-avatar>
      <ion-badge  color="{{color(d['state'])}}" slot="end">{{d['state']}}</ion-badge>

      <ion-label>
        <h5 ><b>{{d['name']}}</b></h5>
        <p>{{d['description']}}</p>
       
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list-header *ngIf="this.data.length==0" class="no-project">
    No task Found
  </ion-list-header>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="add" (click)="open()"></ion-icon>
    </ion-fab-button>
  
  </ion-fab>

</ion-content>
