<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>tasks</ion-title>
    <ion-icon name="create" slot="end" class="modify" (click)="openModify(id)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="this.task.length>0">


    <ion-chip color="danger" (click)="filter(0)">
      <ion-label color="danger">Generals </ion-label>
    </ion-chip>

    <ion-chip color="tertiary" *ngFor="let t of team">
      <ion-label color="tertiary" (click)="filter(t)">{{t}}</ion-label>
    </ion-chip>
    <div class="stats" *ngIf="clicked==true">
      <div class="income-card">
        <ion-list-header class="stats">Budget</ion-list-header>
        <div>
          <h3>2000 DT</h3>
        </div>
      </div>

    </div>
    <ion-card class="welcome-card" [hidden]="!clicked">

      <ion-card-content>
        <canvas #lineChart></canvas>
      </ion-card-content>
    </ion-card>


    <ion-card class="welcome-card" [hidden]="!dev">

      <ion-card-content>
        <canvas #dognut></canvas>
      </ion-card-content>
    </ion-card>

  
  </ion-list>

    <ion-list-header *ngIf="this.task.length>0">
      Done tasks
    </ion-list-header>
    <ion-list>
      <div *ngFor="let t of task; let i = index;">
        <ion-item *ngIf="t['state']=='done'">
          <ion-icon name="checkmark-circle" slot="start" class="icon" color="warning"></ion-icon>
          <ion-badge color="tertiary" slot="end">{{t["hours"]}} H</ion-badge>
          <ion-label>
            <h3 class="name">{{t["name"]}}</h3>
            <p class="description">{{t["description"]}}</p>
          </ion-label>
        </ion-item>
       
      </div>
      
    </ion-list>
    <ion-list-header *ngIf="this.task.length>0">
      Pending tasks
    </ion-list-header>
    <ion-list *ngIf="this.task.length>0">
      <div *ngFor="let t of task; let i = index;">
        <ion-item *ngIf="t['state']=='to do'">
          <ion-icon name="checkmark-circle" slot="start" class="icon" color="danger"></ion-icon>
          <ion-badge color="tertiary" slot="end">{{t["hours"]}} H</ion-badge>
          <ion-label>
            <h3 class="name">{{t["name"]}}</h3>
            <p class="description">{{t["description"]}}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="t['state']=='doing'">
          <ion-icon name="checkmark-circle" slot="start" class="icon" color="tertiary"></ion-icon>
          <ion-badge color="tertiary" slot="end">{{t["hours"]}} H</ion-badge>
          <ion-label>
            <h3 class="name">{{t["name"]}}</h3>
            <p class="description">{{t["description"]}}</p>
          </ion-label>
        </ion-item>
      </div>
      </ion-list>

      <ion-card *ngIf="this.task.length==0" class="no-project">
        <ion-card-content>
          No task found for this project
        </ion-card-content>
      </ion-card>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button>
          <ion-icon name="add" (click)="open()"></ion-icon>
        </ion-fab-button>

      </ion-fab>

</ion-content>