<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="this.data.length>0">
  
    <div class="card" *ngFor="let d of data">
      <div class="task-info" [ngStyle]="{'background-color':color(d['state'])}">
        <h6 class="text">{{d['state']}}</h6>
      </div>
      <div class="container">
        <h5 ><b>{{d['name']}}</b></h5>
         <p>{{d['description']}}</p>

      </div>
     
      
    </div>
  </ion-list>
  <ion-list-header *ngIf="this.data.length==0" class="no-project">
    No project Found
  </ion-list-header>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="add" routerLink=""></ion-icon>
    </ion-fab-button>
  
  </ion-fab>

</ion-content>
