<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list-header>
    My tasks
  </ion-list-header>
  <div>
    <canvas id="canvas"></canvas>
     
    </div>


  <ion-list *ngIf="this.task.length>0">
    <div *ngFor="let t of task; let i = index;">
      <ion-item (click)="update(t['name'])" > 
        <ion-icon name="checkmark-circle" slot="start" class="icon" color="warning"></ion-icon>
        <ion-badge color="tertiary" slot="end">{{t["hours"]}} H</ion-badge>
        <ion-label>
          <h3 class="name">{{t["name"]}}</h3>
          <p class="description">{{t["description"]}}</p>
        </ion-label>
      </ion-item>

    
     
    </div>
 
  </ion-list>


      <ion-list-header *ngIf="this.task.length==0" class="no-project">
        No task assigned to you yet
      </ion-list-header>

 

</ion-content>