<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card">
        <div class="header">
          <div class="avatar">
            <img src="../../../assets/icon/user.png" alt="" *ngIf="this.account['img']==null">
            <img [src]="account['img']" alt="" *ngIf="this.account['img']!=null">
          </div>
          <div class="update">
            <ion-icon name="reverse-camera" (click)="selectImage()"></ion-icon>
          </div>
          <div class="description">
             <h3>{{account["username"]}}</h3>
          </div>
          <div class="position">
              <h4>                
                  <ion-icon name="md-ribbon" slot="start"></ion-icon>
                  {{account['role']}}
              </h4>
          </div>
        </div>
       <ion-card (click)="update('email')">
          <ion-item>
              <ion-icon name="mail" slot="start"></ion-icon>

              <ion-label>
                  {{account['email']}}
              </ion-label>
          </ion-item>
       </ion-card>
       <ion-card (click)="update('password')">
          <ion-item>
              <ion-icon name="md-lock" slot="start"></ion-icon>

              <ion-label>
                  {{account['password']}}
              </ion-label>
          </ion-item>
       </ion-card >
       <ion-card (click)="update('phone')"> 
          <ion-item>
              <ion-icon name="md-call" slot="start"></ion-icon>

              <ion-label *ngIf="account['phone']==null">
                  no phone number
              </ion-label>
              <ion-label>
                {{account['phone']}}
            </ion-label>
          </ion-item>
       </ion-card>
       
      </div>

</ion-content>
