ion-toolbar{
    --background:#d6b0ff;
}

.title{
    --color:#462373;
}
.no-project{
    font-size: medium;
    color: #462373;
}
.project-name{
 font-weight: bold;
}
.project-description{
    font-size: 15px;
    color: #8395a7;
  //  margin-left: 10px;

}
.buttons{
    display: flex;
}
.accept{
   color: #2ecc71;
    width: 25px;
    text-align: center;
    font-size: 30px;
    margin-right: 5px;

}
.refuse{
   color: #e74c3c;
    width: 25px;
    text-align: center;
    font-size:30px

}

ion-badge{
 margin-left:20px;
}
.card {
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    height:75px;
    width: 90%;
    display: flex;
    .container {
        width: 75%;
        padding-left: 5px;
        h5{
            color:#462373;
        }
        p{
            color: #8395a7;
        }
             
 

      }
      .project-info{
            .icon{
              font-size: 30px;
              margin-top: 25%;
              color: white;
          }

          width:25%;
          text-align: center;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;


      }
  }