<ion-header>
  <ion-toolbar>
    <ion-title class="title">Project propositions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="title"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="this.propositions.length>0">
      <div *ngFor="let d of propositions;let i = index;">
        <ion-badge color="tertiary" slot="end">{{client[i]}}</ion-badge>
        <div  class="card" (click)="open(d['id'])">
          <div class="project-info" [ngStyle]="{'background-color':color(d['type'])}">
            <ion-icon [name]="icon(d['type'])" class="icon"></ion-icon>
          </div>
          <div class="container">
            <h5 ><b>{{d['name']}}</b></h5>
             <p>{{d['description']}}</p>
  
          
        </div> 
        </div>
         
      </div>
    
  </ion-list>
  <ion-card *ngIf="this.propositions.length==0"  class="no-project">
    <ion-card-content>
      No proposition Found
    </ion-card-content>
</ion-card>



</ion-content>