.title{
    color:#462373;
}
.stats{
    color:#ff7300;
    font-size: medium;
}
.projects{
    color:#ff7300;
}
ion-card, .card-ios, .card-md {
    border: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-style: none !important;
    position: relative;
  }