
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button class="title"></ion-menu-button>
        </ion-buttons>
      <ion-title class="title">
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div>
        <ion-list-header class="stats">Statistics</ion-list-header>
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title class="projects">Number of projects</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart></canvas>
          </ion-card-content>
        </ion-card>
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title class="projects">Number of projects per type</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #dognutChart></canvas>
          </ion-card-content>
        </ion-card>
    </div>
</ion-content>