ion-icon{
    color:#d6b0ff;
    
}
ion-input{
    --color:#462373;
    
}
ion-input:hover{
   border-bottom-color: #462373;
    
}

ion-button{
    height: 50px;
    text-transform: none;
    --background:#462373;
    --background-hover:#462373;
}
a
{
    color:#8e44ad;
    text-decoration: none;
}
.validation-errors{
    color:#ff6b6b;
    size: 10px;
}