ion-back-button{
    color:#462373;
    }
    ion-title{
        color:#462373;
    
    }
    ion-toolbar{
        --background:#e67e22;
        box-shadow: none !important;

    }
   
    ion-list-header{
        color:#ff7300;
        font-size: medium;
    }
    .name{
        font-weight: bold;
        color:  #462373;

    }
    .description{
        font-size: 15px;
        color: #8395a7;
    }
    .icon{
        font-size: 25px;
    }
    .no-project{
        font-size: medium;
        color: #ff7300;
    }
    .type-icon{
        font-size: 25px;
        color:#a55eea ;
    }