<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list-header>Statistics</ion-list-header>
    <ion-card class="welcome-card">
   
    <ion-card-content>
      <canvas #lineChart></canvas>

    </ion-card-content>
  </ion-card>

  </div>
<div class="header">
  <ion-list-header>
    Project informations
  </ion-list-header>
  <ion-item>
   
    <ion-icon [name]="icon(project['type'])" class="type-icon" slot="start"></ion-icon>
    <ion-label> 
      <h3 class="name">{{project['name']}}</h3>
     <p class="description">{{project['description']}}</p>
    </ion-label>
  </ion-item>
</div>
<div class="tasks">
  
  <div *ngIf="tasks.length>0">
    <ion-list-header>
      Done tasks
    </ion-list-header>
   <ion-list >
     <div *ngFor="let task of done; let i = index;">
      <ion-item *ngIf="task['state']=='done'">
        <ion-icon name="checkmark-circle" slot="start" class="icon" color="warning"></ion-icon>
        <ion-badge color="tertiary" slot="end">{{team[i]}}</ion-badge>
        <ion-label> 
          <h3 class="name">{{task["name"]}}</h3>
         <p class="description">{{task["description"]}}</p>
        </ion-label>
      </ion-item>
     </div>
     <ion-card *ngIf="this.done.length==0"  class="no-project">
      <ion-card-content>
        No task done yet
      </ion-card-content>
  </ion-card>
  </ion-list>
  <ion-list-header>
      Pending tasks
    </ion-list-header>
   <ion-list>
    <div  *ngFor="let task of tasks; let i = index;">
      <ion-item *ngIf="task['state']=='to do'">
        <ion-icon name="checkmark-circle" slot="start" class="icon" color="danger"></ion-icon>
        <ion-badge color="tertiary" slot="end">{{team[i]}}</ion-badge>
        <ion-label> 
          <h3 class="name">{{task["name"]}}</h3>
         <p class="description">{{task["description"]}}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="task['state']=='doing'">
        <ion-icon name="checkmark-circle" slot="start" class="icon" color="tertiary"></ion-icon>
        <ion-badge color="tertiary" slot="end">{{team[i]}}</ion-badge>
        <ion-label> 
          <h3 class="name">{{task["name"]}}</h3>
         <p class="description">{{task["description"]}}</p>
        </ion-label>
      </ion-item>
    </div>  
    <ion-card *ngIf="this.tasks.length==0"  class="no-project">
      <ion-card-content>
        No tasks Found
      </ion-card-content>
  </ion-card> 
   </ion-list>
  </div>
  
</div>
</ion-content>
