ion-back-button{
    --color:#462373;
    }
    ion-title{
        color:#462373;
    
    }
    ion-toolbar{
        --background:#d6b0ff;
    }
    
   
    ion-list-header{
        color:#462373;
        font-size: medium;
    }
    ion-card, .card-ios, .card-md {
        border: 0 !important;
        box-shadow: none !important;
        border: none !important;
        border-style: none !important;
        position: relative;
      }
    .welcome-card{
        margin: 0 auto;
    }
    .name{
        font-weight: bold;
        color:  #462373;

    }
    .description{
        font-size: 15px;
        color: #8395a7;
    }
    .icon{
        font-size: 25px;
    }
    .no-project{
        font-size: medium;
        color: #462373;
    }
    .type-icon{
        font-size: 25px;
        color:#a55eea ;
    }