<ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon name="home" ></ion-icon>
            <ion-label> Home</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="projects">
                <ion-icon name="laptop"></ion-icon>
                <ion-label>Projects</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="teams">
                <ion-icon name="people"></ion-icon>
                <ion-label>Team</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
</ion-tabs>
