.title{
    color:#462373;
}
.no-project{
    font-size: medium;
    color: #ff7300;
}

ion-fab-button{
    --background: #ff7300;

}
.card {
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    height:13%;
    width: 90%;
    display: flex;
    .container {
        width: 75%;
        padding-left: 5px;
        h5{
            color:#462373;
        }
        p{
            color: #8395a7;
        }
             
 

      }
      .project-info{
            .icon{
              font-size: 30px;
              margin-top: 25%;
              color: white;
          }

          width:25%;
          text-align: center;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;


      }
      .delete{
          width: 30%;
          display: flex;
          .deleteIcon{
              font-size: 25px;
              margin: 0 auto;
              margin-top: 40%;
              
              color:#eb4d4b;
          }

      }
  }
