<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button class="title"></ion-menu-button>
        </ion-buttons>
      <ion-title class="title">
        Projects
      </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" 
  (ionRefresh)="ionRefresh($event)" 
  (ionPull)="ionPull($event)" 
  (ionStart)="ionStart($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
   <ion-list *ngIf="this.projects.length>0">
  
       <div *ngFor="let d of projects">
        <div  ion-long-press [interval]="400" class="card"   (longPressed)="active()"   (pressEnded)="released()"  (click)="openTask(d['id'])"  >
          <div class="project-info">
            <circle-progress
                [percent]="d['progress']"
                [radius]="30"
                [outerStrokeWidth]="6"
                [innerStrokeWidth]="1"
                [showSubtitle]="false"
                [titleColor]="color(d['type'])"
                [unitsColor]="'#8e44ad'"
                [outerStrokeColor]="color(d['type'])"
                [innerStrokeColor]="color(d['type'])"
                [animation]="false"
                [animationDuration]="300"></circle-progress>
          </div>
          <div class="container" >
            <h5 ><b>{{d['name']}}</b></h5>
             <p>{{d['description']}}</p>

          </div>
          <div [hidden] =isShow class="delete" (click)="delete(d['id'])">
            <ion-icon name="md-trash" class="deleteIcon" ></ion-icon>
          </div>
        </div>
       </div>
      </ion-list>
      
    <ion-list-header *ngIf="this.projects.length==0" class="no-project">
        No project Found
      </ion-list-header>
    
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button routerLink="/project">
          <ion-icon name="add" ></ion-icon>
        </ion-fab-button>
      
      </ion-fab>
</ion-content>