<!-- khedma

  <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="title"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list-header class="list-header">
    Projects
  </ion-list-header>
  <ion-list *ngIf="true">

    <div class="card" *ngFor="let d of projects" (click)="open(d['id'])">
      <div class="project-info">
        <circle-progress [percent]="d['progress']" [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="1"
          [showSubtitle]="false" [titleColor]="color(d['type'])" [unitsColor]="'#8e44ad'"
          [outerStrokeColor]="color(d['type'])" [innerStrokeColor]="color(d['type'])" [animation]="false"
          [animationDuration]="300"></circle-progress>
      </div>
      <div class="container">
        <h5><b>{{d['name']}}</b></h5>
        <p>{{d['description']}}</p>

      </div>
    </div>
  </ion-list>
  <ion-card *ngIf="this.projects.length==0" class="no-project">
    <ion-card-content>
      No project Found
    </ion-card-content>
  </ion-card>
</ion-content>
 -->


 <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button class="title"></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-refresher slot="fixed" 
(ionRefresh)="ionRefresh($event)" 
(ionPull)="ionPull($event)" 
(ionStart)="ionStart($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<ion-list-header class="list-header">
  Projects
</ion-list-header>
 <ion-list *ngIf="this.projects.length>0">

      <div class="card" *ngFor="let d of projects" (click)="open(d['id'])" >
        <div class="project-info">
          <circle-progress
              [percent]="d['progress']"
              [radius]="30"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="1"
              [showSubtitle]="false"
              [titleColor]="color(d['type'])"
              [unitsColor]="'#8e44ad'"
              [outerStrokeColor]="color(d['type'])"
              [innerStrokeColor]="color(d['type'])"
              [animation]="false"
              [animationDuration]="300"></circle-progress>
        </div>
        <div class="container">
          <h5 ><b>{{d['name']}}</b></h5>
           <p>{{d['description']}}</p>

        </div>
       
        
      </div>
    </ion-list>
    <ion-card *ngIf="this.projects.length==0"  class="no-project">
      <ion-card-content>
        No project Found
      </ion-card-content>
  </ion-card>
    
  
  

 
</ion-content>