.close{
    --background:#462373;
}
.submit{
    height: 50px;
    text-transform: none;
    --background:#ff7300;
    --background-hover:#ff7300;

}
ion-item ion-icon{
    color:#ff7300;
}
ion-toolbar{
    --background:#e67e22;
}