<ion-grid>
  <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center">
                <h4>Login Form</h4>
      </div>
      <div class="validation-errors">
        <label class="error-message">{{errorMessage}}</label>

      </div>
    <form class="form" [formGroup]="validation"  (ngSubmit)="register(validation.value)">

            <div class="ion-padding">
                <ion-item>
          <ion-label>
            <ion-icon name="contact" > </ion-icon>
          </ion-label>
        <ion-input type="text" placeholder="Username" formControlName="username" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let val of validation_messages.username">
            <div class="error-message" *ngIf="validation.get('username').hasError(val.type) && (validation.get('username').dirty || validation.get('username').touched)">
              {{ val.message }}
            </div>
          </ng-container>
        </div>
        <ion-item>
            <ion-label>
                <ion-icon name="mail"></ion-icon>
              </ion-label>
                    <ion-input type="email" placeholder="Email" formControlName="email" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let val of validation_messages.email">
            <div class="error-message" *ngIf="validation.get('email').hasError(val.type) && (validation.get('email').dirty || validation.get('email').touched)">
              {{ val.message }}
            </div>
          </ng-container>
        </div>
          <ion-item>
            <ion-label>
                <ion-icon name="lock"></ion-icon>
              </ion-label>
                    <ion-input type="password" placeholder="Password"  formControlName="password" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let val of validation_messages.password">
            <div class="error-message" *ngIf="validation.get('password').hasError(val.type) && (validation.get('password').dirty || validation.get('password').touched)">
              {{ val.message }}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label>
              <ion-icon name="md-contacts"></ion-icon>
          </ion-label>
          <ion-select placeholder="Role" formControlName="role" >
            <ion-select-option value="manager">Manager</ion-select-option>
            <ion-select-option value="developer">Developer</ion-select-option>
            <ion-select-option value="client">Client</ion-select-option>

          </ion-select>
      </ion-item>
      
      </div>
      <div class="validation-errors">
        <ng-container *ngFor="let val of validation_messages.role">
          <div class="error-message" *ngIf="validation.get('role').hasError(val.type) && (validation.get('role').dirty || validation.get('role').touched)">
            {{ val.message }}
          </div>
        </ng-container>
      </div>
     <div  class="ion-text-right">
         <a class="ion-margin-end" href="login-page">Already have an account</a> 
     </div >
        <div class="ion-padding">
        <ion-button size="large"  expand="block" type="submit">Create account</ion-button>

      </div>
    </form>

        </ion-col>
    </ion-row>
</ion-grid>