ion-title{
    color:#462373;
}
ion-back-button{
  --color:#462373;

}
ion-toolbar{
  --background:#d6b0ff;
}
.discussion{
    height: 100%;
}
.no-chat{
    
    font-size: medium;
    color: #462373;
}
.sender-msg{
    margin-top: 10px;
    margin-bottom: 10px;  
  
}
.rece{
    color: white;
    font-size: 15px;
    height: 10%;
    --background: #d6b0ff;
    width: 90%;
    margin: 0 auto;
    --border-radius:25px;

   
}
.send{
    color: white;
    font-size: 15px;
    height: 10%;
    --background: #462373;
    width: 90%;
    margin: 0 auto;
    --border-radius:25px;

   
}
.date{
    text-align: center;
    color:#d6b0ff;
}
.sender{
    height: 10%;
    width: 100%;
    ion-item{
        --background:#d6b0ff;
    }
    background-color: #d6b0ff;
    ion-input{
        --background:#d6b0ff;
        --color:#462373;	
    }
    ion-icon{
        color: #462373;
        font-size: 25px;
        text-align: center;
    }
   
}