<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>discussion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="discussion">
  <div *ngIf="messages.length!=0">
    <ion-list >
      <div *ngFor="let msg of messages" class="sender-msg" >
        <h6 class="date">{{msg.date}}</h6>
        <ion-item  lines="full" class="send" >
          <ion-avatar [slot]="slot(msg['sender'])">
            <div *ngIf="slot(msg['sender'])=='start'" >
              <img [src]="send_img" *ngIf="send_img!=null">
              <img src="../../../assets/icon/user.png" *ngIf="send_img==null">
            </div>
            <div *ngIf="slot(msg['sender'])=='end'" >
              <img [src]="rec_img" *ngIf="rec_img!=null">
              <img src="../../../assets/icon/user.png" *ngIf="rec_img==null">
            </div>
           
          </ion-avatar>
          <h5>{{msg.text}}</h5>
         
        </ion-item>
      
        
      </div>
     
    
       
    </ion-list>
  </div>
  <ion-card *ngIf="this.messages.length==0" class="no-chat">
    <ion-card-content>
        No discussion Found
     </ion-card-content>
</ion-card>
 </div>

</ion-content>
<ion-footer>
  <div class="sender">
 
    <ion-item>
      <ion-input type="text" [(ngModel)]="message"></ion-input>
      <ion-icon slot="end" name="send"  (click)="send()"></ion-icon>
    </ion-item>
  
  
</div >
</ion-footer>
