 ion-title{
    color:#462373;
    font-size: 16px;
}
ion-back-button{
  --color:#462373;

}
ion-toolbar{
  --background:#d6b0ff;
}
ion-item{
  ion-label{
    font-size: medium;
    color: #462373;
  }
}
ion-avatar{
  border: 2px solid #462373;
}

  
 .title{
     
     color: #462373;
     font-size: 17px;
     font-weight: bold;
}
.subtitle{
  font-size: 12px;
}
.list-header{
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-chat{
    bottom: 3%;
    font-size: medium;
    color: #462373;
}
ion-label h2{
    font-size: medium;
    color: #462373;
    font-weight: bold;
}
ion-label p{
    font-size: medium;
    color: #462373;
    font-weight: lighter;
}