<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Chat</ion-title>
    </ion-toolbar>
      
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="search()"></ion-searchbar>
 
     
      <ion-list>
          <ion-list-header class="title">
             Current users
          </ion-list-header>
           
            <ion-item  *ngFor="let x of users"  (click)="open(x['uid'])">
                <ion-avatar slot="start">
                    <img  *ngIf="x['image']!=null else notnull" [src]="x['image']">
                    <ng-template #notnull>
                      <img   src="../../../assets/icon/user.png"  (click)="open(x['uid'])">
    
                    </ng-template>
                </ion-avatar>
                <ion-label  >
                   <h3 class="name"> {{x["username"]}} </h3> 
                  
                </ion-label>
                <ion-badge color="danger" class="subtitle" slot="end">{{x["role"]}}</ion-badge>
              </ion-item>
      
        
      </ion-list>
      
  
</ion-content>
