ion-back-button , ion-title{
    color:#462373;
}
ion-toolbar{
  --background:#e67e22;
}
.thumnails{
    overflow-x: scroll;
    overflow-y: hidden;
    .list-thumbnail{
      width:80%;
      margin-left: 10px;
      height: 100%;
      white-space: nowrap;
      .img-thumb{
        box-shadow: 2px 2px 2px #FFFF;
        display: inline-block;
        border: 2px solid #462373;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        margin:0 5px 0 0; 
        line-height: 60px;
      }
      .list{
        display: inline-grid;
        .name{
            margin:0 5px 0 0; 
            text-align: center;
            color: #462373;
        
        }
      }
     
    }
  }
  ::-webkit-scrollbar { 
    display: none; 
  }
 .title{
     padding: 15px;
     color: #462373;
}
.list-header{
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-chat{
    bottom: 3%;
    font-size: medium;
    color: #ff7300;
}
ion-label h2{
    font-size: medium;
    color: #ff7300;
    font-weight: bold;
}
ion-label p{
    font-size: medium;
    color: #e67e22;
    font-weight: lighter;
}