<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
               <ion-button type="button" (click)="dismiss()">
                      <h6>Cancel</h6>
                </ion-button>
    </ion-buttons>
    <ion-title >
        <div class="title" >
           <h2>{{title}}</h2>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="this.data=='project'">
   <app-project-form></app-project-form>
</div>
<div *ngIf="this.data=='task'">
  <app-task-form></app-task-form>
</div>
</ion-content>
