ion-toolbar{
    --background:#d6b0ff;
}

.title{
    color:#462373;
}
.no-project{
    font-size: medium;
    color: #462373;
}

ion-fab-button{
    --background: #462373;

}
.list-header{
    color: #462373;
    font-size: medium;
}
.card {
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    height:13%;
    width: 90%;
    display: flex;
    .container {
        width: 75%;
        padding-left: 5px;
        h5{
            color:#462373;
        }
        p{
            color: #8395a7;
        }
             
 

      }
      .project-info{
            .icon{
              font-size: 30px;
              margin-top: 25%;
              color: white;
          }

          width:25%;
          text-align: center;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;


      }
      .delete{
        width: 30%;
        display: flex;
        .deleteIcon{
            font-size: 30px;
            margin: 0 auto;
            margin-top: 50%;
            
            color:#eb4d4b;
        }
    
    }
    
  }
  .prop-card {
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    height:13%;
    width: 90%;
    display: flex;
    .container {
        width: 75%;
        padding-left: 5px;
        h5{
            color:#462373;
        }
        p{
            color: #8395a7;
        }
             
 

      }
      .project-info{
            .icon{
              font-size: 30px;
              margin-top: 25%;
              color: white;
          }

          width:35%;
          text-align: center;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;


      }
      .delete{
        width: 30%;
        display: flex;
        .deleteIcon{
            font-size: 30px;
            margin: 0 auto;
            margin-top: 50%;
            
            color:#eb4d4b;
        }
    
    }
    
  }
