<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button class="title"></ion-menu-button>
      </ion-buttons>

    <ion-title class="title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

 
     <div>
     <div class="hello-card">
      <ion-list-header>Total projects</ion-list-header>
     <div >
      <h3>{{this.projects.length}}</h3>
     </div>
    </div>
  
      <ion-card class="welcome-card">
       
        <ion-card-content>
          <canvas #lineChart></canvas>
        </ion-card-content>
      </ion-card>
  </div>
  

  <div>
    <ion-list-header class="stats">Finished projects</ion-list-header>
    <ion-list *ngIf="this.projects.length>0">

      <div class="card" *ngFor="let d of projects" (click)="openProject(d['id'])">
        <div class="project-info" [ngStyle]="{'background-color':color(d['type'])}">
          <ion-icon [name]="icon(d['type'])" class="icon"></ion-icon>
        </div>
        <div class="container">
          <h5 ><b>{{d['name']}}</b></h5>
           <p>{{d['description']}}</p>

        </div>
        
      </div>
    </ion-list>
  </div>
  <div class="no-project" *ngIf="this.projects.length==0">
  
    <ion-label>No projects yet  </ion-label>
  
  </div > 

</ion-content>