ion-toolbar{
    --background:#d6b0ff;
}

.title{
    color:#462373;
}
.stats{
    color:#462373;
    font-size: 18px;
   

}
.projects{
       color:#462373;
    
    font-size: 15px;;
}
ion-card, .card-ios, .card-md {
    border: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-style: none !important;
    position: relative;
  }
  .welcome-card{
      margin: 0 auto;
  }
  .card {
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    height:75px;
    width: 90%;
    display: flex;
    .container {
        width: 75%;
        padding-left: 5px;
        h5{
            color:#462373;
        }
        p{
            color: #8395a7;
        }
             
 

      }
      .project-info{
            .icon{
              font-size: 30px;
              margin-top: 25%;
              color: white;
          }

          width:25%;
          text-align: center;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;


      }
  }
  .no-project{
      padding-left:5%;
       box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
        border-radius: 6px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 30px;
        height:7%;
        width: 90%;
     ion-label{
        color:#462373;
        font-size: 15px;
        text-align: center;
     }
  }
  .btn{
   
    color:#462373;
    font-size: 30px;
    padding-right: 10px;
     
 }
 .hello-card{
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 30px;
    height:13%;
    width: 90%;
    background-color: #462373;

    h3{
        font-weight: bold;
        margin: 0 auto;
        margin-left: 18px;
        font-size: 35px;
        color: white;
    }
    ion-list-header{
        color:white;
        font-size: 18px;
    }
 }