ion-toolbar{
    --background:#d6b0ff;
}

.close{
   color:#462373;
}
.submit{
    height: 50px;
    text-transform: none;
    --background:#462373;
    --background-hover:#462373;

}
ion-item ion-icon{
    color:#d6b0ff;
}