ion-toolbar{
    --background:#e67e22;
}
.title{
    color:#462373;
}
.no-project{
    font-size: medium;
    color: #ff7300;
}
.project-name{
 font-weight: bold;
}
.project-description{
    font-size: 15px;
    color: #8395a7;
    margin-left: 10px;

}
.buttons{
    display: flex;
}



.card{
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
}
ion-badge{
    margin-left:10px;
   }