<ion-header>
  <ion-toolbar>
    <ion-title class="title">Rejections</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="title"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="this.rejections.length>0">

    <div *ngFor="let d of rejections ; let i = index;">
     
        <ion-item>
          <ion-icon [name]="icon(d['type'])" [ngStyle]="{'color':color(d['type'])}" slot="start"></ion-icon>
          <ion-badge color="tertiary" slot="end">{{managers[i]}}</ion-badge>

         <ion-label>
           <h5 [ngStyle]="{'color':color(d['type'])}" class="project-name"><b>{{d['name']}}</b></h5>
           <p class="project-description">{{d['description']}}</p>
          
         </ion-label>
        </ion-item>
      

    </div>
  </ion-list>
  <ion-card *ngIf="this.rejections.length==0" class="no-project">
    <ion-card-content>
      No rejection Found
    </ion-card-content>
  </ion-card>


</ion-content>